{% extends "baseLayout.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">

	<table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Title</th>
	        <th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for request in lstRequest %}
		      <tr>
		        <td><a href="{% url 'posts:detail' request.id %}">{{ request.title }}</a></td>
		        <td>{{ request.description }}</td>
		      </tr>
	      {% endfor %}
	    </tbody>
	</table>
</div>

{% endblock %}
