{% extends "baseLayout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<div class="jumbotron">
  {% if registered %}
    <h1>Thank You for Registering</h1>
  {% else %}
  <p style="color:red">{{ error }}</p>
    <h1>Register Here!!</h1>
    <form class="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% bootstrap_form profile_form %}
      <input type="submit" name="" value="Register">

    </form>
  {% endif %}

</div>
{% endblock %}
